.header, .encontrarnos {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

body {
  background-color: #101d22;
}

body a:hover {
  color: rgb(121, 41, 196);
}

header {
  position: sticky;
  top: 0px;
}
header .logo-index {
  font-size: 2em;
  font-weight: bold;
  color: black;
  margin-top: 10px;
}
header li {
  list-style-type: none;
}
header ul li a {
  display: inline-block;
  padding: 0px 20px;
  padding-left: none;
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
  color: black;
  margin: 22px 0px 0px;
  margin-left: none;
}

nav ul {
  display: flex;
  flex-direction: row;
}

.header-index {
  z-index: 90000;
  background-color: rgb(250, 250, 219);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 80px;
  align-items: center;
  padding: 5px 50px;
  padding-left: none;
}

.ignorar-pc {
  display: none;
}

.dropdown {
  margin: 13px 0px 0px;
  margin-left: none;
}
.dropdown img {
  width: 25px;
  height: auto;
}

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  margin: 30px 0px 0px;
  margin-left: none;
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("../images/tiendaoficial.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: auto;
  height: 80vh;
}
.hero h1 {
  font-size: 3.5em;
  font-weight: bolder;
  color: aqua;
}
.hero a {
  text-decoration: none;
  border: solid;
  border-radius: 30px;
  padding: 10px 10px;
  padding-left: none;
  background-color: #1a303a;
  border-width: 1.3px;
  color: whitesmoke;
}

.imagenes {
  margin: 20% 0px 0px;
  margin-left: none;
  display: flex;
  align-content: flex-end;
  justify-content: space-evenly;
}

.imagen img {
  width: 360px;
  height: 360px;
  border-radius: 10px;
}

.acedderaca {
  align-items: center;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  text-align: center;
  color: aqua;
}

.nosotros {
  font-size: 1.5em;
}

.nosotros2 {
  font-size: 1em;
  padding: 0px 10px;
  padding-left: none;
  display: flex;
  flex-direction: column;
}

.nosotros3 a {
  text-decoration: none;
  border: solid;
  border-radius: 50px;
  padding: 10px;
  padding-left: none;
  border-width: 1px;
  color: aqua;
  background-color: #182b33;
}

footer {
  padding: 10px 0px 0px;
  padding-left: none;
  margin: 20% 0px 0px;
  margin-left: none;
  border-top: solid 1px rgb(0, 0, 0);
  font-family: "Roboto", sans-serif;
}

.piepagina {
  padding: 20px 10px;
  padding-left: none;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.pagina1 {
  display: flex;
  padding: 10px 10px 20px;
  padding-left: none;
  flex-direction: column;
  color: beige;
}
.pagina1 h3 {
  padding: 0px 0px 15px;
  padding-left: none;
  color: aliceblue;
}
.pagina1 img {
  margin: 20px 0px 0px;
  margin-left: none;
}

.pagina2 {
  display: flex;
  padding: 10px;
  padding-left: none;
  flex-direction: column;
  align-items: center;
  color: beige;
}
.pagina2 h3 {
  padding: 0px 0px 15px;
  padding-left: none;
  color: aliceblue;
}

.encontrarnos img {
  width: 30px;
  height: 30px;
}

.quehacemos-1 {
  background-color: #0d171b;
  height: 720px;
}
.quehacemos-1 h2 {
  margin: 20% 30px 0px;
  margin-left: none;
  padding: 40px 0px 0px;
  padding-left: none;
  text-align: center;
  font-size: 2em;
  font-weight: bold;
  color: aliceblue;
}

.carta_conflex {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 20px;
  padding-left: none;
  margin-top: 60px;
}

.cartas-quehacemos {
  border: 1px #203a43 solid;
  padding: 15px;
  padding-left: none;
  width: 300px;
  height: 450px;
  border-radius: 13px;
  text-align: center;
  border-radius: 8px 20px;
  background-color: #000000;
  background: #0F2027;
  background: -webkit-linear-gradient(to right, #373b44, #0F2027);
  background: linear-gradient(to right, #373b44, #0F2027);
  transition: all 0.35s;
}
.cartas-quehacemos img {
  width: 250px;
  height: 240px;
  border-radius: 12px;
}
.cartas-quehacemos h3 {
  margin: 15px 0px 0px;
  margin-left: none;
  text-align: center;
  font-size: 1.36em;
  font-weight: bolder;
  color: white;
}
.cartas-quehacemos p {
  text-align: center;
  padding: 40px 10px 20px 23px;
  padding-left: none;
  font-size: 14px;
  font-weight: bold;
  color: #12c2e9;
  margin: 10px 0px 0px;
  margin-left: none;
  font-weight: lighter;
  font-weight: bolder;
}

.cartas-quehacemos:hover {
  transform: rotateY(19deg);
  box-shadow: 0 12px 20px black;
}

.carta_cuadradasarticulos {
  display: flex;
  margin: 20% 0px 30% 0px;
  margin-left: none;
  justify-content: space-evenly;
  padding: 0px;
  padding-left: none;
}
.carta_cuadradasarticulos h3 {
  font-size: 23px;
  text-align: center;
}
.carta_cuadradasarticulos a {
  text-decoration: none;
  color: black;
}
.carta_cuadradasarticulos img {
  width: 90px;
  height: 90px;
  padding: 0px 0px 10px;
  padding-left: none;
}

.carta_cuadradasarticulos-1 {
  background-color: #ffffff;
  border-radius: 7px;
  box-sizing: border-box;
  font-size: 15px;
  font-weight: bold;
  color: #333;
  padding: 20px;
  padding-left: none;
  text-align: center;
  text-decoration: none;
  width: 160px;
  height: 180px;
}

.carta_cuadradasarticulos-1:hover {
  background-color: rgb(77, 77, 119);
  box-sizing: border-box;
  font-size: 15px;
  font-weight: bold;
  color: #ffffff;
  padding: 20px;
  padding-left: none;
  text-align: center;
  text-decoration: none;
  width: 160px;
  height: 180px;
}

.menu-desplegable {
  display: none;
}

@media (max-width: 425px) {
  body {
    width: 542px;
    height: auto;
  }
  body a:active {
    color: rgb(138, 46, 224);
  }
  .header-index {
    width: 542px;
    height: 110px;
    text-align: center;
    display: flex;
    flex-direction: column;
    padding: 0px 10px;
    padding-left: none;
  }
  .logo-index {
    padding: 0px;
    padding-left: none;
    margin: 0%;
    margin-left: none;
  }
  .navegador-index ul {
    width: 542px;
    height: auto;
    margin: 1px 0px 0px;
    margin-left: none;
    padding: none;
    padding-left: 7px;
    display: flex;
  }
  .hero {
    margin: 10% 0px 0px;
    margin-left: none;
    background-repeat: round;
    background-size: cover;
    width: 542px;
    height: 400px;
  }
  .imagenes {
    margin: 30% 0px 0px;
    margin-left: none;
    width: 542px;
    height: 560px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  .acedderaca {
    display: flex;
    flex-direction: column;
  }
  .nosotros {
    margin: 30px 0px 0px;
    margin-left: none;
  }
  .nosotros2 {
    margin: 30px 0px 0px;
    margin-left: none;
  }
  .nosotros3 {
    margin: 50px 0px 0px;
    margin-left: none;
  }
  .quehacemos-1 {
    margin: 40% 0px 0px;
    margin-left: none;
    background-color: #0d171b;
    width: 542px;
    height: auto;
    height: 1750px;
  }
  .carta_conflex {
    display: flex;
    flex-direction: column;
    margin: 0px;
    margin-left: 18%;
    margin-top: 60px;
  }
  .cartas-quehacemos {
    margin: 20px 0px;
    margin-left: none;
  }
  .cartas-quehacemos p {
    font-size: 15px;
  }
  .carta_cuadradasarticulos {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    margin: 30%;
    margin-left: none;
  }
  .carta_cuadradasarticulos-1 {
    margin: 15px;
    margin-left: none;
  }
  .flecha_arriba {
    display: none;
  }
  .dropdown {
    display: none;
  }
  .ignorar-pc {
    display: block;
  }
  footer {
    width: 542px;
    height: auto;
  }
}
.header, .encontrarnos {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

header {
  position: sticky;
  top: 0px;
}
header .logo-shop {
  margin: 10px 0px 0px;
  margin-left: none;
  font-size: 2em;
  font-weight: bold;
  color: black;
}

.header {
  z-index: 9000;
  background-color: rgb(250, 250, 219);
  width: auto;
  height: 80px;
  align-items: center;
  padding: 5px 50px;
  padding-left: none;
}

.shop-html {
  background-color: #101d22;
}

.carta_shop-1 {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.carta_shop-1 a {
  text-decoration: none;
  border: solid 2px #0c181c;
  padding: 10px 20px;
  padding-left: none;
  border-radius: 0px 10px;
  background-color: #080808;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0);
}

.carta_shop-1 a:hover {
  text-decoration: none;
  border: solid 1px blueviolet;
  padding: 10px 20px;
  padding-left: none;
  border-radius: 0px 10px;
  background-color: #0c181c;
}

.articulos_shop h2 {
  border: 1px solid rgb(12, 10, 10);
  border-radius: 0px 2rem;
  background-color: rgb(12, 10, 10);
  letter-spacing: 2px;
  padding: 0.5rem;
  padding-left: none;
  margin: 70px;
  margin-left: none;
  text-align: center;
  font-size: 2em;
  font-weight: bold;
  color: aliceblue;
}

.cartas-shop {
  border: 1px black solid;
  padding: 15px;
  padding-left: none;
  width: 300px;
  height: 450px;
  border-radius: 13px;
  text-align: center;
  border-radius: 13px;
  background: #080808;
  box-shadow: inset 5px 5px 9px #030303, inset -5px -5px 9px #0d0d0d;
  transition: all 0.4s;
}
.cartas-shop img {
  width: 250px;
  height: 240px;
  border-radius: 12px;
}
.cartas-shop h3 {
  margin: 10px 0px 0px;
  margin-left: none;
  text-align: center;
  font-size: 1.2em;
  font-weight: bold;
  color: blueviolet;
}
.cartas-shop p {
  margin: 20px 0px 10px;
  margin-left: none;
  font-size: 20px;
  font-weight: large;
  color: white;
  text-align: center;
}
.cartas-shop .carta_buton {
  margin: 50px 0px 0px;
  margin-left: none;
  justify-content: center;
  width: auto;
}

.cartas-shop:hover {
  border-radius: 13px;
  background: #111111;
  box-shadow: inset 5px 5px 9px #030303, inset -5px -5px 9px #0d0d0d;
  cursor: default;
  transform: translateY(-10px);
  box-shadow: 0 12px 16px black;
}

.flecha_arriba {
  padding: 0px;
  padding-left: 96%;
  position: fixed;
  bottom: 20px;
}
.flecha_arriba img {
  width: 30px;
  height: 30px;
  border: solid 1px #0f2027;
  border-radius: 40px;
  background-color: #2c5364;
}

@media (max-width: 425px) {
  body {
    width: 542px;
    height: auto;
  }
  body a:active {
    color: rgb(138, 46, 224);
  }
  .cartas-shop {
    margin: 20px 0px 20px 0px;
    margin-left: none;
  }
  .carta_shop-1 {
    width: 542px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
  .footer-shop {
    width: 542px;
    height: auto;
  }
}
.encontrarnos, .header {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.register-body {
  background-color: #0d171b;
}

.padding-registro {
  padding: 10% 33% 0px;
  padding-left: none;
}

.registrarse-box {
  color: rgb(255, 255, 255);
  font-weight: bold;
  position: static;
  margin: 10% 0px 20px;
  margin-left: none;
  width: 430px;
  height: 790px;
  padding: 50px 0px 0px 5px;
  padding-left: none;
  background: rgba(22, 19, 19, 0.987);
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.7);
  border-radius: 12px;
}
.registrarse-box .registro-box {
  position: static;
}
.registrarse-box .registro-box input {
  width: 130%;
  height: none;
  padding: 10px 4px;
  padding-left: none;
  font-size: 16px;
  font-weight: none;
  color: #ffffff;
  margin-bottom: 20px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
}

.boton-enviar-registro {
  position: relative;
  display: inline-block;
  padding: 4px 25px;
  padding-left: none;
  overflow: hidden;
  margin: 20px 0px 0px;
  margin-left: 72px;
}
.boton-enviar-registro input {
  border: 0;
  background: transparent;
  color: white;
  padding: 10px 40px;
  padding-left: none;
  letter-spacing: 3.5px;
  font-weight: bold;
}

.boton-enviar-registro:hover {
  background: #8b0606;
  color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px #c55e09, 0 0 15px #c55e09, 0 0 20px #c55e09;
}

.registro-boton-1 {
  position: relative;
  display: inline-block;
  padding: 10px 50px;
  padding-left: none;
  transform: translate(25%, -10%);
  text-align: center;
  font-size: 16px;
  font-weight: none;
  color: #ffffff;
  margin: 40px 0px 0px;
  margin-left: none;
}
.registro-boton-1 a {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  padding-left: none;
  text-align: center;
  font-size: 16px;
  font-weight: none;
  color: #ffffff;
  margin: 15px 0px 0px;
  margin-left: none;
  text-decoration: none;
}
.registro-boton-1 h2 {
  font-size: 16px;
}

.registro-boton-1 a:hover {
  background: #8b0606;
  color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px #c55e09, 0 0 15px #c55e09, 0 0 20px #c55e09;
}

.footer-sesion.html1 {
  margin: 10%;
  margin-left: none;
  font-family: "Roboto", sans-serif;
}

@media (max-width: 425px) {
  body {
    width: 542px;
    height: none;
  }
  .registrarse-box {
    margin: 10% -65%;
    margin-left: none;
  }
  .registrarse-box .registro-box {
    position: static;
  }
  .registrarse-box .registro-box input {
    width: 145%;
    height: none;
  }
  input {
    width: 120%;
    height: none;
    padding: 10px 4px;
    padding-left: none;
    margin-bottom: 20px;
  }
  .registro-boton-1 a {
    padding: 5px 20px 0px 40px;
    padding-left: none;
    margin: 10px 0px 0px;
    margin-left: none;
  }
  .registro-boton-1 h2 {
    font-size: 16px;
    padding: none;
    padding-left: 15px;
  }
}
.encontrarnos, .header {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

header {
  position: sticky;
  top: 0px;
}
header .logo {
  font-size: 2em;
  font-weight: bold;
  color: black;
  margin: 10px 0px 16px;
  margin-left: none;
}
header li {
  list-style-type: none;
}
header ul li a {
  display: inline-block;
  padding: 0px 20px;
  padding-left: none;
  text-decoration: none;
  color: black;
  font-weight: bold;
  margin: 22px 0px 0px;
  margin-left: none;
}

nav ul {
  display: flex;
  flex-direction: row;
}

.header {
  z-index: 9000;
  background-color: rgb(250, 250, 219);
  width: auto;
  height: 80px;
  align-items: center;
  padding: 5px 50px;
  padding-left: none;
}

.sesion-body {
  background-color: #0d171b;
}

.padding-sesion {
  padding: 10% 33% 0px;
  padding-left: none;
}

.iniciarsesion-box {
  color: rgb(255, 255, 255);
  font-weight: bold;
  padding: 50px;
  padding-left: none;
  width: 430px;
  height: auto;
  background: rgba(22, 19, 19, 0.987);
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.7);
  border-radius: 12px;
}
.iniciarsesion-box .usuario-box {
  position: static;
}
.iniciarsesion-box .usuario-box input {
  width: 100%;
  height: auto;
  padding: 10px 10px;
  padding-left: none;
  font-size: 16px;
  font-weight: none;
  color: #ffffff;
  margin-bottom: 50px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
}

.boton-enviar {
  position: relative;
  display: inline-block;
  text-align: center;
  padding: 4px 20px 0px;
  padding-left: none;
  overflow: hidden;
  margin: 40px 0px 0px;
  margin-left: 100px;
}
.boton-enviar input {
  border: 0;
  background: transparent;
  color: white;
  padding: 10px 0px;
  padding-left: none;
  letter-spacing: 3.5px;
  font-weight: bold;
}

.boton-enviar:hover {
  padding: 5px 20px 0px;
  padding-left: none;
  background: #8b0606;
  color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px #c55e09, 0 0 15px #c55e09, 0 0 20px #c55e09;
}

.registro-box {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  padding-left: none;
  transform: translate(25%, -10%);
  text-align: center;
  font-size: 16px;
  font-weight: none;
  color: #ffffff;
  margin: 40px 0px 0px;
  margin-left: none;
}
.registro-box a {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  padding-left: none;
  text-align: center;
  font-size: 16px;
  font-weight: none;
  color: #ffffff;
  margin: 15px 0px 0px;
  margin-left: none;
  text-decoration: none;
}
.registro-box h2 {
  font-size: 16px;
}

.registro-box a:hover {
  background: #8b0606;
  color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px #c55e09, 0 0 15px #c55e09, 0 0 20px #c55e09;
}

.footer-sesion.html1 {
  margin: 10% 0px 0px;
  margin-left: none;
  font-family: "Roboto", sans-serif;
}

@media (max-width: 425px) {
  body {
    width: 542px;
    height: auto;
  }
  .iniciarsesion-box {
    margin: 10% -65% 180%;
    margin-left: none;
  }
  .registro-box {
    padding: 10px 23px;
    padding-left: none;
  }
  .registro-box a {
    padding: 10px 20px;
    padding-left: none;
    margin: 15px 0px 0px;
    margin-left: none;
  }
  .registro-box h2 {
    font-size: 16px;
  }
}
.header-carro {
  position: static;
  top: 0px;
}
.header-carro p {
  margin: 10px 0px 0px;
  margin-left: none;
}
.header-carro ul li a {
  margin: 30px 0px 0px;
  margin-left: none;
}
.header-carro .logo {
  font-size: 2em;
  font-weight: bold;
  color: black;
}

.header-carro {
  z-index: 9000;
  background-color: rgb(250, 250, 219);
  display: flex;
  flex-direction: column;
  width: 80px;
  height: auto;
  align-items: center;
  padding: 5px 50px;
  padding-left: none;
}

.carrito-body {
  background-color: rgb(252, 252, 252);
}

.carrito-compras {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.carrito-compras img {
  margin: 20px 0px 0px;
  margin-left: none;
  width: 80px;
  height: 80px;
}

.carrito-compras-empezar {
  background-color: #c0c0c0;
  margin: 50px;
  margin-left: none;
  border: 1px solid #e0e0e0;
  border-radius: 0px 30px;
  text-align: center;
  padding: 60px 0px 0px;
  padding-left: none;
  width: 400px;
  height: 500px;
}
.carrito-compras-empezar h1 {
  margin: 100px 0px 0px;
  margin-left: none;
  font-size: 20px;
  font-weight: bold;
  color: black;
}
.carrito-compras-empezar p {
  margin: 50px 0px 0px;
  margin-left: none;
  font-size: 17px;
  font-weight: bold;
  color: black;
}

.boton-carrito-compras {
  margin: 50px 0px 0px;
  margin-left: none;
}
.boton-carrito-compras a {
  text-decoration: none;
  color: red;
}

.boton-carrito-compras a:hover {
  border: 1px solid #ff7300;
  padding: 10px;
  padding-left: none;
  color: black;
  border-radius: 10px;
  background-color: #b86f33;
  box-shadow: 0 0 5px #bb6117, 0 0 15px #bb6117, 0 0 20px #bb6117, 0 0 30px #bb6117;
}

.resumen-compra {
  margin: 50px;
  margin-left: none;
  border: 1px solid #e0e0e0;
  border-radius: 0px 30px;
  text-align: center;
  padding: 60px 0px 0px;
  padding-left: none;
  width: 300px;
  height: 400px;
  background-color: #c0c0c0;
}
.resumen-compra h2 {
  margin: 15% 0px 0px;
  margin-left: none;
  font-size: 24px;
  font-weight: bold;
  color: black;
}
.resumen-compra p {
  margin: 40% 0px 0px;
  margin-left: none;
  font-size: 18px;
  font-weight: bold;
  color: black;
}

.pagina-carro-1 {
  display: flex;
  padding: 10px 10px 20px;
  padding-left: none;
  flex-direction: column;
}
.pagina-carro-1 h3 {
  color: black;
  padding: 0px 0px 15px;
  padding-left: none;
}
.pagina-carro-1 img {
  margin: 20px 0px 0px;
  margin-left: none;
}

.pagina-carro-2 {
  display: flex;
  padding: 10px;
  padding-left: none;
  flex-direction: column;
  align-items: center;
}
.pagina-carro-2 h3 {
  color: black;
  margin: 0px 0px 10px;
  margin-left: none;
}
.pagina-carro-2 p {
  color: rgb(148, 148, 141);
  text-align: center;
}

.carta_buton-carro a {
  text-decoration: none;
  font-size: 20px;
  font-weight: none;
  color: black;
  border: 1px solid rgb(148, 148, 148);
  background-color: rgb(148, 148, 148);
  padding: 7px;
  padding-left: none;
  border-radius: 14px;
}

.carta_buton-carro a:hover {
  text-decoration: none;
  font-size: 20px;
  font-weight: none;
  color: white;
  border: 1px solid rgb(133, 131, 131);
  background-color: rgb(133, 131, 131);
  padding: 7px;
  padding-left: none;
  border-radius: 14px;
}

@media (max-width: 425px) {
  body {
    width: 542px;
  }
  .carrito-compras {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .carrito-compras-empezar {
    background-color: #c0c0c0;
    margin: 10% 0px 0px 15px;
    margin-left: none;
    width: 400px;
  }
  .resumen-compra {
    margin: 10% 15px 0px 25px;
    margin-left: none;
    padding: 60px 0px 0px;
    padding-left: none;
    width: 350px;
  }
  .header {
    width: 542px;
    text-align: center;
    display: flex;
    flex-direction: column;
    height: 120px;
    padding: 0px 10px;
    padding-left: none;
  }
  .logo {
    padding: 0px;
    padding-left: none;
    margin: 0%;
    margin-left: none;
  }
  .navegador ul {
    width: 542px;
    margin: 1px 0px 0px;
    margin-left: none;
    padding: 0px;
    padding-left: 7px;
    display: flex;
  }
}
#carouselExampleDark {
  display: block;
  margin-left: 150px;
  margin: none;
  margin-left: 150px;
  border-radius: 10px;
}

.carousel-item {
  border-radius: 15px 0px;
}

.carousel-dark .carousel-caption {
  margin: 0px 0px 20px;
}

.carrito-carrousel h2 {
  text-align: center;
  margin: 10% 0px 5%;
  margin-left: none;
  font-family: "Roboto", sans-serif;
}

.carousel-item {
  justify-content: center;
  background-color: #c0c0c0;
  flex-direction: row;
}
.carousel-item img {
  margin: 0px 0px 80px;
  margin-left: 240px;
  position: static;
}

@media (max-width: 425px) {
  #carouselExampleDark {
    margin: none;
    margin-left: 70px;
  }
  .carousel-item img {
    margin: none;
    margin-left: 100px;
  }
}

/*# sourceMappingURL=styles.css.map */
