@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

*{
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
}


 /*INDEX HTML*/ 

.index-html{
    background-color: #101d22;
}
header{
    position: sticky;
    top: 0px;
}
header li{
    list-style-type: none;
}
nav ul{
    display: flex;
    flex-direction: row;
}
header ul li a{
    display: inline-block;
    padding: 0 20px;
    text-decoration: none;
    color: black;
    font-weight: bold;
}
.header {
    background-color: rgb(250, 250, 219);
    display: flex;
    justify-content: space-between;
    height: 80px;
    align-items: center;
    padding: 5px 50px;
}
header .logo{
    font-size: 2em;
    font-weight: bold;
}

.hero{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 30px;
    background-image:linear-gradient(
        0deg,
        rgba(0,0,0,0.8),
        rgba(0,0,0,0.8)
        
    )
    ,url("../images/tiendaoficial.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 80vh;
    width: auto;
}
.hero h1{
    font-size: 3em;
    font-weight: bold;
    color: white;
}
.hero a{
    text-decoration: none;
    border: solid;
    border-radius: 30px;
    padding: 10px 10px;
    background-color: #1a303a ;
    border-width: 1.3px;
    color: whitesmoke;
}
.imagenes{
    margin-top: 20%;
    display: flex;
    align-content: flex-end;
    justify-content: space-evenly;
}
.imagen img{
    height: 360px;
    width: 360px;
    border-radius: 10px;
    
}
.acedderaca{
    align-items: center;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    text-align: center;
    color: aqua;
}
.nosotros{
    font-size: 1.5em;
    font-weight: bold;
}
.nosotros2 {
    font-size: 1em;
    padding: 0 10px;
    display: flex;
    flex-direction: column;
}
.nosotros3 a{
    text-decoration: none;
    border: solid;
    border-radius: 50px ;
    padding: 10px;
    border-width: 1px;
    color: aqua;
    background-color: #182b33;   
}
body a:hover{
    color:rgb(121, 41, 196)
}
footer{
    padding-top: 10px;
    margin-top: 20%;
    border-top:solid 1px rgb(0, 0, 0);
}
.piepagina{
    padding: 20px 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.pagina1 h3{
    padding: 0 0 15px;
    color: aliceblue;
}
.pagina1 img{
    margin-top: 20px;
}
.pagina1{
    display: flex;
    padding: 10px 10px 20px;
    flex-direction: column;
    color: beige;
}
.pagina2 h3{
    padding: 0 0 15px;
    color: aliceblue;
}
.pagina2{
    display: flex;
    padding: 10px;
    flex-direction: column;
    align-items: center;
    color: beige;
}
.encontrarnos{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.encontrarnos img{
    height: 30px;
    width: 30px;
}
.quehacemos-1{
    background-color: #0d171b;
    height: 635px;
}
.quehacemos-1 h2{
    margin: 20% 0px 30px 0px;
    padding-top: 40px;
    color: aliceblue;
    font-size: 2em;
    font-weight: bold;
    text-align: center;
}
.carta_conflex{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 20px;
}
.cartas-quehacemos{
    border: 1px #203a43 solid;
    padding: 15px;
    height: 450px;
    width: 300px;
    border-radius: 13px;
    text-align: center;
    border-radius: 13px;
    background-color: #000000;
    background: #0F2027;  
    background: -webkit-linear-gradient(to right, #373b44, #0F2027); 
    background: linear-gradient(to right, #373b44, #0F2027);

}
.cartas-quehacemos img{
    height: 240px;
    width: 250px;
    border-radius: 12px;
}
.cartas-quehacemos h3{
    margin-top: 15px;
    color:white;
    text-align: center;
    font-size: 1.36em;
    font-weight: bold;
}
.cartas-quehacemos p{
    font-size: 0.8em;
    text-align: center;
    padding: 40px 10px 20px 23px;
    color: #12c2e9;
    margin-top: 10px;
    font-weight: lighter;
}
.carta_cuadradasarticulos{
    display: flex;
    margin: 20% 0px 30% 0px;
    justify-content: space-evenly;
    padding: 0px;
}
.carta_cuadradasarticulos img{
    width: 90px;
    height: 90px;
    padding: 0px 0px 10px;
}
.carta_cuadradasarticulos a{
    text-decoration: none;
    color: black;
}
.carta_cuadradasarticulos a:hover{
    text-decoration: none;
    color: white;
    cursor: default;
}
.carta_cuadradasarticulos-1{
    background-color: #ffffff;
    border-radius: 7px;
    box-sizing: border-box;
    color: #333;
    font-size: 15px;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    width: 140px;
    height: 152px;
}
.carta_cuadradasarticulos-1:hover{
    background-color: rgb(77, 77, 119);
    box-sizing: border-box;
    color: #ffffff;
    font-size: 15px;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    width: 140px;
    height: 152px;
}
@media (max-width:425px)  {

    body{
        width: 546px;
        height: auto;
    }
    .header{
        width: 546px;
        text-align: center;
        display: flex;
        flex-direction: column;
        height: 90px;
        padding: 10px 0px;
    }
    .logo{
        padding:0px;
        margin: 0%;

    }
    .navegador ul{
        width: 546px;
        margin-top: 2px;
        padding-left: 25px;
        display: flex;
        justify-content: space-between;
    }
    body a:active{
        color:rgb(138, 46, 224)
    }
    
    .hero{
        margin-top: 10%;
        width: 546px;
        background-repeat:round;
        background-size: cover;
        height: 400px;
    }
    .imagenes{
        margin-top: 30%;
        height: 560px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
    .acedderaca{
        display: flex;
        flex-direction: column;
        
    }
    .nosotros{
        margin-top: 30px;
        
    }
    .nosotros2{
        margin-top: 30px;
    }
    .nosotros3{
        margin-top: 50px;
    }
    
    .quehacemos-1{
        margin-top: 40%;
        background-color: #0d171b;
        height: auto;
        width: 546px;
        
    }
    .carta_conflex{
        display: flex;
        flex-direction: column;
        margin-left: 19%;
       
    }
    .cartas-quehacemos{
        margin:20px 0px;
        
    }
    .cartas-quehacemos p{
       font-size: 15px;
        
    }
    .carta_cuadradasarticulos{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows:1fr;
        margin-left: 120px;
        
    }
    .carta_cuadradasarticulos-1{
        margin-top: 15px;
    }
    .flecha_arriba{
        display: none;
    }
    
    
}

/*FIN DE INDEX HTML*/


/*TIENDA HTML */ 

.shop-html{
    background-color: #0c181c;
}
.carta_shop-1{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 20px;
}
.articulos_shop h2{
    padding: 0px 0px 20px 0px;
    margin-top: 40px;
    color: aliceblue;
    font-size: 2em;
    font-weight: bold;
    text-align: center;
}
.cartas-shop{
    border: 1px black solid;
    padding: 15px;
    height: 450px;
    width: 300px;
    border-radius: 13px;
    text-align: center;
    border-radius: 13px;
    background: #080808;
    box-shadow: inset 5px 5px 9px #030303,
            inset -5px -5px 9px #0d0d0d;
}
.cartas-shop:hover{
    border-radius: 13px;
    background: #111111;
    box-shadow: inset 5px 5px 9px #030303,
                inset -5px -5px 9px #0d0d0d;
    cursor: default;
}
.cartas-shop img{
    height: 240px;
    width: 250px;
    border-radius: 12px;
    
}
.cartas-shop h3{
    margin-top: 10px;
    color: blueviolet;
    text-align: center;
    font-size: 1.2em;
    font-weight: bold;
}
.cartas-shop p{
    font-size: 12px;
    text-align: start;
    padding-left: 25px;
    color: white;
    margin-top: 10px;
}
.carta_buton{
    margin-top: 40px;
}
.carta_shop-1 a{
    text-decoration: none;
    border: solid 2px #0c181c;
    padding: 5px;
    border-radius: 10px;
    background-color: #080808;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, alpha);
}
.carta_shop-1 a:hover{
    text-decoration: none;
    border: solid 1px blueviolet;
    padding: 5px;
    border-radius: 10px;
    background-color: #0c181c;
}
.flecha_arriba{
    padding-left: 96%;
    position: fixed;
    bottom: 20px;
}
.flecha_arriba img{
    height:30px ;
    width: 30px;
    border: solid 1px  #0f2027;
    border-radius: 40px;
    background-color: #2c5364;
}

@media (max-width:425px)  {
    body{
        width: 546px;
        height: auto;
    }
    .header{
        width: 546px;
        height: auto;
        text-align: center;
        display: flex;
        flex-direction: column;
        height: 90px;
        padding: 10px 0px;
    }
    .logo{
        padding:0px;
        margin: 0%;
    }
    .navegador ul{
        width: 546px;
        margin-top: 2px;
        padding-left: 25px;
        display: flex;
        justify-content: space-between;
    }
    body a:active{
        color:rgb(138, 46, 224)
    }
    
    .carta_shop-1{
        width: 546px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        padding: 20px;
        margin-left:80px;
    }


}



/* FIN DE TIENDA HTML */ 




/* SESION.HTML */ 



.sesion-body{
    background-color: #0d171b;
}
.padding-sesion{
    padding: 10% 33% 0px;
}
.iniciarsesion-box {
    color: rgb(255, 255, 255);
    font-weight: bold;
    width: 430px;
    padding: 50px;
    background: rgba(75, 50, 50, 0.987);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0,0,0,0.7);
    border-radius: 12px;
}
.iniciarsesion-box .usuario-box {
    position: static;
}
.iniciarsesion-box .usuario-box input {
    width: 100%;
    padding: 10px 10px;
    font-size: 16px;
    color: #fff;
    margin-bottom: 50px;
    border: none;
    border-bottom: 1px solid #fff;
    outline:none;
    background: transparent;
}
.boton-enviar input{
    border: 0;
    background: transparent ;
    color: white;
    padding: 10px 0px;
    letter-spacing: 3.5px;  
    font-weight: bold;
}
.boton-enviar {
    position: relative;
    display: inline-block;
    padding: 4px 20px;
    margin-left: 100px;
    overflow: hidden;
    margin-top: 40px;
}
.boton-enviar:hover {
    background: #8b0606;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px #c55e09,
                0 0 15px #c55e09,
                0 0 20px #c55e09;           
}
.registro-box{
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    transform: translate(25%, -10%);
    text-align: center;
    color: #ffffff;
    font-size: 16px;
    margin-top: 40px;
}
.registro-box a{
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    text-align: center;
    color: #ffffff;
    font-size: 16px;
    margin-top: 15px;
    text-decoration: none;
}
.registro-box a:hover {
    background: #8b0606;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px #c55e09,
                0 0 15px #c55e09,
                0 0 20px #c55e09;
}
.footer-sesion.html1{
    margin-top: 10%;
}



/* Fin de SESION.HTML */ 




/* Comienzo de REGISTRO.HTML */ 



.register-body{
    background-color: #0d171b;
}
.padding-registro{
    padding: 10% 33% 0px;
    
}
.registrarse-box{
    color: rgb(255, 255, 255);
    font-weight: bold;
    position: static;
    margin: 10% 0px 20px;
    height: 750px;
    width: 430px;
    padding: 50px 0px 0px 5px;
    background: rgba(22, 19, 19, 0.987);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0,0,0,0.7);
    border-radius: 12px; 
}
.registrarse-box .registro-box{
    position: static;
}
.registrarse-box .registro-box input{
    width: 130%;
    padding: 10px 4px;
    font-size: 16px;
    color: #fff;
    margin-bottom: 20px;
    border: none;
    border-bottom: 1px solid #fff;
    outline:none;
    background: transparent;
}
.boton-enviar-registro input{
    border: 0;
    background: transparent ;
    color: white;
    padding: 10px 40px;
    letter-spacing: 3.5px;  
    font-weight: bold;
}
.boton-enviar-registro{
    position: relative;
    display: inline-block;
    padding: 4px 25px;
    margin-left: 72px;
    overflow: hidden;
    margin-top: 20px;
}
.boton-enviar-registro:hover {
    background: #8b0606;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px #c55e09,
                0 0 15px #c55e09,
                0 0 20px #c55e09;           
}
.registro-boton-1{
    position: relative;
    display: inline-block;
    padding: 10px 50px;
    transform: translate(25%, -10%);
    text-align: center;
    color: #ffffff;
    font-size: 16px;
    margin-top: 40px;
}
.registro-boton-1 a{
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    text-align: center;
    color: #ffffff;
    font-size: 16px;
    margin-top: 15px;
    text-decoration: none;
}
.registro-boton-1 a:hover {
    background: #8b0606;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px #c55e09,
                0 0 15px #c55e09,
                0 0 20px #c55e09;
}
.footer-sesion.html1{
    margin-top: 10%;
}
/*Fin de REGISTRO.HTML */ 





/*Comienzo de CARRITO.HTML*/ 


.carrito-body{
    background-color: rgb(252, 252, 252);
}
.carrito-compras{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.carrito-compras img{
    margin-top: 20px;
    width: 80px ;
    height: 80px;
}
.carrito-compras-empezar{
   background-color: #c0c0c0;
    margin: 50px;
    border: 1px solid #e0e0e0;
    border-radius: 20px;
    text-align: center;
    padding-top: 60px;
    width: 400px;
    height: 500px;
}
.carrito-compras-empezar h1{
    margin-top: 100px;
    color: black;
    font-weight: bold;
    font-size: 20px;
}
.carrito-compras-empezar p{
    margin-top: 50px;
    color: black;
    font-size: 17px;
    font-weight: bold;
}
.boton-carrito-compras{
    margin-top: 50px;
}
.boton-carrito-compras a{ 
    text-decoration: none;
    color: red;
    
}
.boton-carrito-compras a:hover{
    border: 1px solid #ff7300;
    padding: 10px;
    color: black;
    border-radius: 10px;
    background-color: #b86f33;
    box-shadow: 0 0 5px #bb6117,
    0 0 15px #bb6117,
    0 0 20px #bb6117,
    0 0 30px #bb6117;

}
.resumen-compra{
    margin: 50px;
    border: 1px solid #e0e0e0;
    border-radius: 20px;
    text-align: center;
    padding-top: 60px;
    width: 300px;
    height: 400px;
    background-color: #c0c0c0;
}
.resumen-compra h2{
    margin-top: 15%;
    color: black;
    font-weight: bold;
    font-size: 24px;

}
.resumen-compra p{
    margin-top: 40%;
    color: black;
    font-weight: bold;
    font: 18px;
    
}
.pagina-carro-1 {
    display: flex;
    padding: 10px 10px 20px;
    flex-direction: column;
}
.pagina-carro-1 h3{
    color: black;
    padding: 0 0 15px;
}
.pagina-carro-1 img{
    margin-top: 20px;
}
.pagina-carro-2{
    display: flex;
    padding: 10px;
    flex-direction: column;
    align-items: center;
}
.pagina-carro-2 h3{
    color: black;
    margin: 0px 0px 10px;
}
.pagina-carro-2 p{
    color: rgb(148, 148, 141);
    text-align: center;
}





