//variable

$fondodelbody:#101d22;

//personalización

.header-carro{
    position:static;
    top: 0px;
    p{
        margin-top: 10px;
    }
    ul li a{
        margin-top: 30px;
    }
    .logo{
        font-size: 2em;
        font-weight: bold;
    }
}
.header-carro {
    background-color: rgb(250, 250, 219);
    display: flex;
    justify-content: space-between;
    height: 80px;
    align-items: center;
    padding: 5px 50px;
}

.carrito-body{
    background-color: rgb(252, 252, 252);
}
.carrito-compras{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    img{
        margin-top: 20px;
        width: 80px ;
        height: 80px;
    }
}

.carrito-compras-empezar{
   background-color: #c0c0c0;
    margin: 50px;
    border: 1px solid #e0e0e0;
    border-radius: 20px;
    text-align: center;
    padding-top: 60px;
    width: 400px;
    height: 500px;
    h1{
        margin-top: 100px;
        color: black;
        font-weight: bold;
        font-size: 20px;
    }
    p{
        margin-top: 50px;
        color: black;
        font-size: 17px;
        font-weight: bold;
    }
}

.boton-carrito-compras{
    margin-top: 50px;
    a{ 
        text-decoration: none;
        color: red;
        
    }
}
.boton-carrito-compras a:hover{
    border: 1px solid #ff7300;
    padding: 10px;
    color: black;
    border-radius: 10px;
    background-color: #b86f33;
    box-shadow: 0 0 5px #bb6117,
    0 0 15px #bb6117,
    0 0 20px #bb6117,
    0 0 30px #bb6117;

}
.resumen-compra{
    margin: 50px;
    border: 1px solid #e0e0e0;
    border-radius: 20px;
    text-align: center;
    padding-top: 60px;
    width: 300px;
    height: 400px;
    background-color: #c0c0c0;
    h2{
        margin-top: 15%;
        color: black;
        font-weight: bold;
        font-size: 24px;
    
    }
    p{
        margin-top: 40%;
        color: black;
        font-weight: bold;
        font: 18px;
        
    }
}

.pagina-carro-1 {
    display: flex;
    padding: 10px 10px 20px;
    flex-direction: column;
    h3{
        color: black;
        padding: 0 0 15px;
    }
    img{
        margin-top: 20px;
    }
}
.pagina-carro-2{
    display: flex;
    padding: 10px;
    flex-direction: column;
    align-items: center;
    h3{
        color: black;
        margin: 0px 0px 10px;
    }
    p{
        color: rgb(148, 148, 141);
        text-align: center;
    }
}
.carta_buton-carro a{
    text-decoration: none;
    color: black;
    font-size: 20px;
    border: 1px solid rgb(148, 148, 148);
    background-color: rgb(148, 148, 148);
    padding: 7px;
    border-radius: 14px;
}
.carta_buton-carro a:hover{
    text-decoration: none;
    color: white;
    font-size: 20px;
    border: 1px solid rgb(133, 131, 131);
    background-color: rgb(133, 131, 131);
    padding: 7px;
    border-radius: 14px;
}
@media (max-width:425px)  {
    body{
        width: 542px;
    }
    .carrito-compras{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .carrito-compras-empezar{
       background-color: #c0c0c0;
        margin: 10% 0px 0px 15px;
        width: 400px;
    }
    .resumen-compra{
        margin: 10% 15px 0px 25px;
        padding-top: 60px;
        width: 350px;
    }
    .header{
        width: 542px;
        text-align: center;
        display: flex;
        flex-direction: column;
        height: 110px;
        padding: 0px 10px;
    }
    .logo{
        padding:0px;
        margin: 0%;
    }
    .navegador ul{
        width: 542px;
        margin-top: 1px;
        padding-left: 7px;
        display: flex;
    }
}