//variable

$fondodelbody:#101d22;

@mixin fuentes ($size, $negrita, $color ){
    font-size: $size;
    font-weight: $negrita;
    color: $color;
}
@mixin dimensiones ($ancho, $largo){
    width: $ancho;
    height: $largo;

}
@mixin margenes ($margen, $izquierda){
    margin: $margen;
    margin-left: $izquierda;
}
@mixin padding ($padding, $padizquierda){
    padding: $padding;
    padding-left: $padizquierda;
}


//personalización

.header-carro{
    position:static;
    top: 0px;
    p{
        @include margenes(10px 0px 0px,none);
    }
    ul li a{
        @include margenes(30px 0px 0px,none);
    }
    .logo{
        @include fuentes(2em,bold ,black);
    }
}
.header-carro {
    z-index: 9000;
    background-color: rgb(250, 250, 219);
    display: flex;
    flex-direction: column;
    @include dimensiones(80px, auto);
    align-items: center;
    @include padding(5px 50px,none);
}

.carrito-body{
    background-color: rgb(252, 252, 252);
}
.carrito-compras{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    img{
        @include margenes(20px 0px 0px,none);
        @include dimensiones(80px, 80px);
    }
}

.carrito-compras-empezar{
   background-color: #c0c0c0;
   @include margenes(50px,none);
    border: 1px solid #e0e0e0;
    border-radius: 20px;
    text-align: center;
    @include padding(60px 0px 0px,none);
    @include dimensiones(400px, 500px);
    h1{
        @include margenes(100px 0px 0px,none);
        @include fuentes(20px,bold ,black);
    }
    p{
        @include margenes(50px 0px 0px,none);
        @include fuentes(17px,bold ,black);
    }
}

.boton-carrito-compras{
    @include margenes(50px 0px 0px,none);
    a{ 
        text-decoration: none;
        color: red;
    }
}
.boton-carrito-compras a:hover{
    border: 1px solid #ff7300;
    @include padding(10px,none);
    color: black;
    border-radius: 10px;
    background-color: #b86f33;
    box-shadow: 0 0 5px #bb6117,
    0 0 15px #bb6117,
    0 0 20px #bb6117,
    0 0 30px #bb6117;

}
.resumen-compra{
    @include margenes(50px,none);
    border: 1px solid #e0e0e0;
    border-radius: 20px;
    text-align: center;
    @include padding(60px 0px 0px,none);
    @include dimensiones(300px, 400px);
    background-color: #c0c0c0;
    h2{
        @include margenes(15% 0px 0px,none);
        @include fuentes(24px,bold ,black);
    
    }
    p{
        @include margenes(40% 0px 0px,none);
        @include fuentes(18px,bold ,black);
        
    }
}

.pagina-carro-1 {
    display: flex;
    @include padding(10px 10px 20px,none);
    flex-direction: column;
    h3{
        color: black;
        @include padding(0px 0px 15px,none);
    }
    img{
        @include margenes(20px 0px 0px,none);
    }
}
.pagina-carro-2{
    display: flex;
    @include padding(10px,none);
    flex-direction: column;
    align-items: center;
    h3{
        color: black;
        @include margenes(0px 0px 10px,none);
    }
    p{
        color: rgb(148, 148, 141);
        text-align: center;
    }
}
.carta_buton-carro a{
    text-decoration: none;
    @include fuentes(20px,none ,black);
    border: 1px solid rgb(148, 148, 148);
    background-color: rgb(148, 148, 148);
    @include padding(7px,none);
    border-radius: 14px;
}
.carta_buton-carro a:hover{
    text-decoration: none;
    @include fuentes(20px,none ,white);
    border: 1px solid rgb(133, 131, 131);
    background-color: rgb(133, 131, 131);
    @include padding(7px,none);
    border-radius: 14px;
}
@media (max-width:425px) {
    body{
        width: 542px;
    }
    .carrito-compras{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .carrito-compras-empezar{
       background-color: #c0c0c0;
        @include margenes(10% 0px 0px 15px,none);
        width: 400px;
    }
    .resumen-compra{
        @include margenes(10% 15px 0px 25px,none);
        @include padding(60px 0px 0px,none);
        width: 350px;
    }
    .header{
        width: 542px;
        text-align: center;
        display: flex;
        flex-direction: column;
        height: 120px;
        @include padding(0px 10px,none);
    }
    .logo{
        @include padding(0px,none);
        @include margenes(0%,none);
    }
    .navegador ul{
        width: 542px;
        @include margenes(1px 0px 0px,none);
        @include padding(0px,7px);
        display: flex;
    }
}