//variable

$fondodelbody:#101d22;
@mixin fuentes ($size, $negrita, $color ){
    font-size: $size;
    font-weight: $negrita;
    color: $color;
}
@mixin dimensiones ($ancho, $largo){
    width: $ancho;
    height: $largo;

}
@mixin margenes ($margen, $izquierda){
    margin: $margen;
    margin-left: $izquierda;
}
@mixin padding ($padding, $padizquierda){
    padding: $padding;
    padding-left: $padizquierda;
}


//personalización

#carouselExampleDark{
    display: block;
    margin-left: 150px;
    @include margenes(none, 150px);
    border-radius: 10px;
}
.carousel-item{
    border-radius: 15px 0px;
}
.carousel-dark .carousel-caption {
    margin: 0px 0px 20px;
}
.carrito-carrousel h2{
    text-align: center;
    @include margenes(10% 0px 5%, none);
    font-family: 'Roboto', sans-serif;
}
.carousel-item{
    justify-content: center;
    background-color: #c0c0c0;
    flex-direction: row;
    img{
        @include margenes(0px 0px 80px, 240px);
        position:static;
    }
}
@media (max-width:425px){
    #carouselExampleDark{
        @include margenes(none, 70px);
    }
    .carousel-item img {
        @include margenes(none, 100px);
    }
} 

