$fondodelbody:#101d22;

header{
    position:sticky;
    top: 0px;
    .logo-index{
        @include fuentes(2em,bold,black);
        margin-top: 10px;
    }
    .logo-shop{
        @include margenes(10px 0px 0px,none);
        @include fuentes(2em,bold,black );
    }
    .logo{
        @include fuentes(2em,bold,black);
        @include margenes(10px 0px 16px,none);
    }
    li{
        list-style-type: none;
    }
    ul li a{
        display: inline-block;
        @include padding(0px 20px,none);
        text-decoration: none;
        @include fuentes(16px,bold,black);
        @include margenes(22px 0px 0px,none);
        font-family: 'Inter', sans-serif;
    }  
}
nav ul{
    display: flex;
    flex-direction: row;
}
.header-index {
    z-index: 90000;
    background-color: rgb(250, 250, 219);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 80px;
    align-items: center;
    @include padding(5px 50px,none);
}
.ignorar-pc{
    display: none;
}
.dropdown{
    @include margenes(13px 0px 0px,none);
    img{
        @include dimensiones(25px,auto);
    }
}
.header-carro{
    z-index: 9000;
    background-color: rgb(250, 250, 219);
    display: flex;
    flex-direction: column;
    @include dimensiones(80px, auto);
    align-items: center;
    @include padding(5px 50px,none);
    top: 0px;
    p{
        @include margenes(10px 0px 0px,none);
    }
    ul li a{
        @include margenes(30px 0px 0px,none);
    }
    .logo{
        @include fuentes(2em,bold ,black);
    }
}

.header{
    z-index: 9000;
    background-color: rgb(250, 250, 219);
    @extend %flexjustifyflex;
    @include dimensiones(auto,80px);
    align-items: center;
    @include padding(5px 50px,none);
}

