//variable

$fondodelbody:#101d22;
@mixin fuentes ($size, $negrita, $color ){
    font-size: $size;
    font-weight: $negrita;
    color: $color;
}
@mixin dimensiones ($ancho, $largo){
    width: $ancho;
    height: $largo;

}
@mixin margenes ($margen, $izquierda){
    margin: $margen;
    margin-left: $izquierda;
}
@mixin padding ($padding, $padizquierda){
    padding: $padding;
    padding-left: $padizquierda;
}
%flexjustifyflex{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}


//personalización
body{
    background-color: $fondodelbody;
}
body a:hover{
    color:rgb(121, 41, 196)
}
header{
    position:sticky;
    top: 0px;
    .logo-index{
        @include fuentes(2em,bold,black);
        margin-top: 10px;
    }
    li{
        list-style-type: none;
    }
    ul li a{
        display: inline-block;
        @include padding(0px 20px,none);
        text-decoration: none;
        @include fuentes(16px,bold,black);
        @include margenes(22px 0px 0px,none);
    }  
}
nav ul{
    display: flex;
    flex-direction: row;
}
.header-index {
    z-index: 90000;
    background-color: rgb(250, 250, 219);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 80px;
    align-items: center;
    @include padding(5px 50px,none);
}
.ignorar-pc{
    display: none;
}
.dropdown{
    @include margenes(13px 0px 0px,none);
    img{
        @include dimensiones(25px,auto);
    }
}
 
.hero{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    @include margenes(30px 0px 0px,none);
    background-image:linear-gradient(
        0deg,
        rgba(0,0,0,0.8),
        rgba(0,0,0,0.8)
        
    )
    ,url("../images/tiendaoficial.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    @include dimensiones(auto,80vh);
    h1{
        @include fuentes(3.5em,bolder,aqua);
    }
    a{
        text-decoration: none;
        border: solid;
        border-radius: 30px;
        @include padding(10px 10px,none);
        background-color: #1a303a ;
        border-width: 1.3px;
        color: whitesmoke;
    }
}
.imagenes{
    @include margenes(20% 0px 0px,none);
    display: flex;
    align-content: flex-end;
    justify-content: space-evenly;
}
.imagen img{
    @include dimensiones(360px,360px);
    border-radius: 10px;
}
.acedderaca{
    align-items: center;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    text-align: center;
    color: aqua;
}
.nosotros{
    font-size: 1.5em;
    
}
.nosotros2 {
    font-size: 1em;
    @include padding(0px 10px,none);
    display: flex;
    flex-direction: column;
}
.nosotros3 a{
    text-decoration: none;
    border: solid;
    border-radius: 50px ;
    @include padding(10px,none);
    border-width: 1px;
    color: aqua;
    background-color: #182b33;   
}
footer{
    @include padding(10px 0px 0px,none);
    @include margenes(20% 0px 0px,none);
    border-top:solid 1px rgb(0, 0, 0);
    font-family: 'Roboto', sans-serif;
}
.piepagina{
    @include padding(20px 10px,none);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.pagina1{
    display: flex;
    @include padding(10px 10px 20px,none);
    flex-direction: column;
    color: beige;
    h3{
        @include padding(0px 0px 15px,none);
        color: aliceblue;
    }
    img{
        @include margenes(20px 0px 0px,none);
    }
}
.pagina2{
    display: flex;
    @include padding(10px,none);
    flex-direction: column;
    align-items: center;
    color: beige;
    h3{
        @include padding(0px 0px 15px,none);
        color: aliceblue;
    }
}
.encontrarnos{
    @extend %flexjustifyflex;
    img{
        @include dimensiones(30px,30px);
    }
}
.quehacemos-1{
    background-color: #0d171b;
    height: 720px;
    h2{
        @include margenes(20% 30px 0px,none);
        @include padding(40px 0px 0px,none);
        text-align: center;
        @include fuentes(2em,bold,aliceblue);
    }
}
.carta_conflex{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    @include padding(20px,none);
    margin-top: 60px;
}
.cartas-quehacemos{
    border: 1px #203a43 solid;
    @include padding(15px,none);
    @include dimensiones(300px,450px);
    border-radius: 13px;
    text-align: center;
    border-radius: 8px 20px;
    background-color: #000000;
    background: #0F2027;  
    background: -webkit-linear-gradient(to right, #373b44, #0F2027); 
    background: linear-gradient(to right, #373b44, #0F2027);
    transition: all 0.35s;
    img{
        @include dimensiones(250px,240px);
        border-radius: 12px;
    }
    h3{
        @include margenes(15px 0px 0px,none);
        text-align: center;
        @include fuentes(1.36em,bolder,white);
    }
    p{
        text-align: center;
        @include padding(40px 10px 20px 23px,none);
        @include fuentes(14px,bold,#12c2e9);
        @include margenes(10px 0px 0px,none);
        font-weight: lighter;
        font-weight: bolder;
    }
}
.cartas-quehacemos:hover{
    transform:rotateY(19deg);
    box-shadow: 0 12px 20px black; 
}
.carta_cuadradasarticulos{
    display: flex;
    @include margenes(20% 0px 30% 0px,none);
    justify-content: space-evenly;
    @include padding(0px,none);
    h3{
        font-size: 23px;
        text-align: center;
    }
    a{
        text-decoration: none;
        color: black;
    }
    img{
        @include dimensiones(90px,90px);
        @include padding(0px 0px 10px,none);
        
    }
}
.carta_cuadradasarticulos-1{
    background-color: #ffffff;
    border-radius: 7px;
    box-sizing: border-box;
    @include fuentes(15px,bold,#333);
    @include padding(20px,none);
    text-align: center;
    text-decoration: none;
    @include dimensiones(160px,180px);
}
.carta_cuadradasarticulos-1:hover{
    background-color: rgb(77, 77, 119);
    box-sizing: border-box;
    @include fuentes(15px,bold,#ffffff);
    @include padding(20px,none);
    text-align: center;
    text-decoration: none;
    @include dimensiones(160px,180px);
}
.menu-desplegable{
    display: none;
}

//mobile

@media (max-width:425px)  {
    body{
        @include dimensiones(542px,auto);
    }
    body a:active{
        color:rgb(138, 46, 224)
    }
    .header-index{
        @include dimensiones(542px,110px);
        text-align: center;
        display: flex;
        flex-direction: column;
        @include padding(0px 10px,none);
    }
    .logo-index{
        @include padding(0px,none);
        @include margenes(0%,none);
    }
    .navegador-index ul{
        @include dimensiones(542px,auto);
        @include margenes(1px 0px 0px,none);
        @include padding(none,7px);
        display: flex;
    }
    .hero{
        @include margenes(10% 0px 0px,none);
        background-repeat:round;
        background-size: cover;
        @include dimensiones(542px,400px);
    }
    .imagenes{
        @include margenes(30% 0px 0px,none);
        @include dimensiones(542px,560px);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
    .acedderaca{
        display: flex;
        flex-direction: column;  
    }
    .nosotros{
        @include margenes(30px 0px 0px,none);
    }
    .nosotros2{
        @include margenes(30px 0px 0px,none);
    }
    .nosotros3{
        @include margenes(50px 0px 0px,none);
    }
    
    .quehacemos-1{
        @include margenes(40% 0px 0px,none);
        background-color: #0d171b;
        @include dimensiones(542px,auto);
        height: 1750px;
        
    }
    .carta_conflex{
        display: flex;
        flex-direction: column;
        @include margenes(0px,18%);
        margin-top: 60px ;
       
    }
    .cartas-quehacemos{
        @include margenes(20px 0px,none);
        p{
            font-size: 15px;
        }
    }
    .carta_cuadradasarticulos{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows:1fr;
        @include margenes(30%,none);
    }
    .carta_cuadradasarticulos-1{
        @include margenes(15px,none);
    }
    .flecha_arriba{
        display: none;
    }
    .dropdown{
        display: none;
    }
    .ignorar-pc{
        display: block;
    }
    footer{
        @include dimensiones(542px,auto);
    }
    
}