//variable

$fondodelbody:#101d22;
@mixin fuentes ($size, $negrita, $color ){
    font-size: $size;
    font-weight: $negrita;
    color: $color;
}
@mixin dimensiones ($ancho, $largo){
    width: $ancho;
    height: $largo;

}
@mixin margenes ($margen, $izquierda){
    margin: $margen;
    margin-left: $izquierda;
}
@mixin padding ($padding, $padizquierda){
    padding: $padding;
    padding-left: $padizquierda;
}
%flexjustifyflex{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

//personalización

.register-body{
    background-color: #0d171b;
}
.padding-registro{
    @include padding(10% 33% 0px,none);
    
}
.registrarse-box{
    color: rgb(255, 255, 255);
    font-weight: bold;
    position: static;
    @include margenes(10% 0px 20px,none);
    @include dimensiones(430px,790px);
    @include padding(50px 0px 0px 5px,none);
    background: rgba(22, 19, 19, 0.987);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0,0,0,0.7);
    border-radius: 12px; 
    .registro-box{
        position: static;
        input{
            @include dimensiones(130%,none );
            @include padding(10px 4px,none);
            @include fuentes(16px,none,#ffffff);
            margin-bottom: 20px;
            border: none;
            border-bottom: 1px solid #fff;
            outline:none;
            background: transparent;
        }
    }
}
.boton-enviar-registro{
    position: relative;
    display: inline-block;
    @include padding(4px 25px,none);
    overflow: hidden;
    @include margenes(20px 0px 0px,72px);
    input{
        border: 0;
        background: transparent ;
        color: white;
        @include padding(10px 40px,none);
        letter-spacing: 3.5px;  
        font-weight: bold;
    }
}
.boton-enviar-registro:hover {
    background: #8b0606;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px #c55e09,
                0 0 15px #c55e09,
                0 0 20px #c55e09;           
}
.registro-boton-1{
    position: relative;
    display: inline-block;
    @include padding(10px 50px,none);
    transform: translate(25%, -10%);
    text-align: center;
    @include fuentes(16px,none,#ffffff);
    @include margenes(40px 0px 0px,none);
    a{
        position: relative;
        display: inline-block;
        @include padding(10px 20px,none);
        text-align: center;
        @include fuentes(16px,none,#ffffff);
        @include margenes(15px 0px 0px,none);
        text-decoration: none;
    }
    h2{
        font-size: 16px;
    }
}

.registro-boton-1 a:hover {
    background: #8b0606;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px #c55e09,
                0 0 15px #c55e09,
                0 0 20px #c55e09;
}
.footer-sesion.html1{
    @include margenes(10%,none);
    font-family: 'Roboto', sans-serif;
}

@media (max-width:425px)  {
    body{
        @include dimensiones(542px,none );
    }
    .registrarse-box{
        @include margenes(10% -65%,none);
        .registro-box{
            position: static;
            input{
                @include dimensiones(145%,none);
            }
        }
   }
   input{
        @include dimensiones(120%,none );
        @include padding(10px 4px,none);
        margin-bottom: 20px;
    }
    .registro-boton-1{
        a{
            @include padding(5px 20px 0px 40px,none);
            @include margenes(10px 0px 0px,none);
        }
        h2{
            font-size: 16px;
            @include padding(none,15px);
        }
    }
}