//variable

$fondodelbody:#101d22;
@mixin fuentes ($size, $negrita, $color ){
    font-size: $size;
    font-weight: $negrita;
    color: $color;
}
@mixin dimensiones ($ancho, $largo){
    width: $ancho;
    height: $largo;

}
@mixin margenes ($margen, $izquierda){
    margin: $margen;
    margin-left: $izquierda;
}
@mixin padding ($padding, $padizquierda){
    padding: $padding;
    padding-left: $padizquierda;
}
%flexjustifyflex{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

//personalización
header{
    position:sticky;
    top: 0px;
    .logo{
        @include fuentes(2em,bold,black);
        @include margenes(10px 0px 16px,none);
    }
    li{
        list-style-type: none;
    }
    ul li a{
        display: inline-block;
        @include padding(0px 20px,none);
        text-decoration: none;
        color: black;
        font-weight: bold;
        @include margenes(22px 0px 0px,none);
    }  
}
nav ul{
    display: flex;
    flex-direction: row;
}
.header {
    background-color: rgb(250, 250, 219);
    @extend %flexjustifyflex;
    @include dimensiones(auto, 80px);
    align-items: center;
    @include padding(5px 50px,none);
}
.sesion-body{
    background-color: #0d171b;
}
.padding-sesion{
    @include padding(10% 33% 0px,none);
}
.iniciarsesion-box {
    color: rgb(255, 255, 255);
    font-weight: bold;
    @include padding(50px,none);
    @include dimensiones(430px, auto);
    background: rgba(22, 19, 19, 0.987);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0,0,0,0.7);
    border-radius: 12px;
    .usuario-box {
        position: static;
        input{
            @include dimensiones(100%, auto);
            @include padding(10px 10px,none);
            @include fuentes(16px, none,#ffffff);
            margin-bottom: 50px;
            border: none;
            border-bottom: 1px solid #fff;
            outline:none;
            background: transparent;
        }
    }
}

.boton-enviar {
    position: relative;
    display: inline-block;
    text-align: center;
    @include padding(4px 20px 0px,none);
    overflow: hidden;
    @include margenes(40px 0px 0px,100px);
    input{
        border: 0;
        background: transparent ;
        color: white;
        @include padding(10px 0px,none);
        letter-spacing: 3.5px;  
        font-weight: bold;
    }
}
.boton-enviar:hover {
    @include padding(5px 20px 0px,none);
    background: #8b0606;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px #c55e09,
                0 0 15px #c55e09,
                0 0 20px #c55e09;           
}

.registro-box{
    position: relative;
    display: inline-block;
    @include padding(10px 20px,none);
    transform: translate(25%, -10%);
    text-align: center;
    @include fuentes(16px, none,#ffffff);
    @include margenes(40px 0px 0px,none);
    a{
        position: relative;
        display: inline-block;
        @include padding(10px 20px,none);
        text-align: center;
        @include fuentes(16px, none,#ffffff);
        @include margenes(15px 0px 0px,none);
        text-decoration: none;
    }
    h2{
        font-size: 16px;
    }
}
.registro-box a:hover {
    background: #8b0606;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px #c55e09,
                0 0 15px #c55e09,
                0 0 20px #c55e09;
}

.footer-sesion.html1{
    @include margenes(10% 0px 0px,none);
    font-family: 'Roboto', sans-serif;
}

@media (max-width:425px) {
    body{
        @include dimensiones(542px, auto);
    }
    .iniciarsesion-box {
        @include margenes(10% -65% 180%,none);
    }
    .registro-box{
        @include padding(10px 23px,none);
        a{
            @include padding(10px 20px,none);
            @include margenes(15px 0px 0px,none);
        }
        h2{
            font-size: 16px;
        }
    }
}