
.carrito-body{
    background-color: rgb(252, 252, 252);
}
.carrito-compras{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    img{
        @include margenes(20px 0px 0px,none);
        @include dimensiones(90px, 80px);
    }
}

.carrito-compras-empezar{
   background-color: #d8c3c3;
   @include margenes(50px,none);
    border: 1px solid #e0e0e0;
    border-radius: 0px 30px;
    text-align: center;
    @include padding(60px 0px 0px,none);
    @include dimensiones(400px, 500px);
    h1{
        @include margenes(100px 0px 0px,none);
        @include fuentes(20px,bold ,black);
    }
    p{
        @include margenes(50px 0px 0px,none);
        @include fuentes(17px,bold ,black);
    }
}

.boton-carrito-compras{
    @include margenes(50px 0px 0px,none);
    a{ 
        text-decoration: none;
        color: red;
    }
}
.boton-carrito-compras a:hover{
    border: 1px solid #ff7300;
    @include padding(10px,none);
    color: black;
    border-radius: 10px;
    background-color: #b86f33;
    box-shadow: 0 0 5px #bb6117,
    0 0 15px #bb6117,
    0 0 20px #bb6117,
    0 0 30px #bb6117;

}
.resumen-compra{
    @include margenes(50px,none);
    border: 1px solid #e0e0e0;
    border-radius: 0px 30px;
    text-align: center;
    @include padding(60px 0px 0px,none);
    @include dimensiones(300px, 450px);
    background-color: #c0c0c0;
    h2{
        @include margenes(5% 0px,none);
        @include fuentes(24px,bold ,black);
    
    }
    p{
        @include margenes(20% 0px ,none);
        @include fuentes(18px,bold ,rgb(100, 100, 100));
        
    }
}
.resumen-compra-ejemplo{
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 1px black solid;
    height: 60px;
    margin: 10px;
    img{ 
        margin: 0;
        height: 50px;
        width: 50px;
        border-radius: 5px;
    }
    p{
        margin: 0;
        border-left: 1px solid black;
        padding: 10px;
        border-right: 1px solid black;
    }
    a{
        color: black;
    }
}

.pagina-carro-1 {
    display: flex;
    @include padding(10px 10px 20px,none);
    flex-direction: column;
    h3{
        color: black;
        @include padding(0px 0px 15px,none);
    }
    img{
        @include margenes(20px 0px 0px,none);
    }
}
.pagina-carro-2{
    display: flex;
    @include padding(10px,none);
    flex-direction: column;
    align-items: center;
    h3{
        color: black;
        @include margenes(0px 0px 10px,none);
    }
    p{
        color: rgb(148, 148, 141);
        text-align: center;
    }
}
.carta_buton-carro a{
    text-decoration: none;
    @include fuentes(20px,none ,black);
    border: 1px solid rgb(148, 148, 148);
    background-color: rgb(148, 148, 148);
    @include padding(7px,none);
    border-radius: 14px;
}
.carta_buton-carro a:hover{
    text-decoration: none;
    @include fuentes(20px,none ,white);
    border: 1px solid rgb(133, 131, 131);
    background-color: rgb(133, 131, 131);
    @include padding(7px,none);
    border-radius: 14px;
}
.politica {
    display: flex;
    align-items: center;
    justify-content: center;
    .privacidad-copy-carro{
        display: flex;
        list-style-type: none;
        font-family: sans-serif;
        font-weight: 600;
        justify-content: space-evenly;
        margin: 1rem;
        color: black;
        li{
            margin: 1rem;
        }
        a{
            text-decoration: none;
            color: black;
        }
        
    }
}

@media (max-width:510px) {
    .resumen-compra-ejemplo{
        display: flex;
        justify-content: space-around;
        align-items: center;
        border: 1px black solid;
        height: 60px;
        margin: 10px;
        img{ 
            margin: 0;
            height: 50px;
            width: 50px;
            border-radius: 5px;
        }
        p{
            margin: 0;
            border-left: 1px solid black;
            padding: 0;
            border-right: 1px solid black;
        }
    }
    .carrito-compras{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .carrito-compras-empezar{
       background-color: #c0c0c0;
        @include margenes(10% 0px 0px 15px,none);
        width: 400px;
        height: 560px;
    }
    .resumen-compra{
        @include margenes(10% 15px 0px 25px,none);
        @include padding(60px 0px 0px,none);
        width: 350px;
    }
}